

  .card-container{

display: flex;
flex-direction: column;
    margin : 10px;
    padding: 10px;
    background-color: lightblue;
  }
  .card-container:hover{

    display: flex;
    flex-direction: column;
        margin : 10px;
        padding: 10px;
        background-color: lightblue;
        border-radius: 25px;
        border-color: darkblue;
        box-shadow: black;
      }

  .card-container-change:hover{
        margin : 10px;
        padding: 10px;
        background-color:lightgreen;
        border-radius: 5px;
        border-color: darkblue;
        
      }

.button-group{
 
  width: max-content;
  margin: 10px 0px 0px 0px;
  padding: 3px 7px;
  font-size: small;
}

.button-card{
  margin-right: 15px;
}

.title{

  font-weight: bolder;
  padding-bottom: 3px;
}
.company-name{
  font-size: small;
}

