

.button{

  margin: 10px 10px ;
  padding: 3px 7px;
  font-size: small;
  width:max-content;
  
}

.cardClick{
  border-radius: 10px;
  border-color: darkblue;
}

.search-bar{

  align-self: center;

}

h1{

  text-align: center;
  padding-top: 20px;
  font-weight: bolder;
}

.search-group{

margin-top: 15px;
margin-left: 44%;

}
/* 
.page {
  margin-right: 15px;
  margin-left: 10px;
  color:red;
  padding-left: 10px;
  
  }

  .page:hover {

  
    font-size: 18px;
    font-weight: bolder;
   }

   .highlightedpage {
    margin-right: 15px;
    color:blue;
    font-size: 26px;
    font-weight: bolder;
    
      } */


      